[Unit]
Description=DMO Node (docker-compose)
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/dmo-node
ExecStart=/usr/bin/docker-compose up node
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure

[Install]
WantedBy=multi-user.target
